<div class="main coaches-new">
  <div class="container">
    <div class="form-heading">新規コーチ登録</div>
    <div class="form coaches-form">
      <div class="form-body">
        <% @coach.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/coaches/create") do %>
            <p>コーチ名</p>
            <input name="name" value="<%= @coach.name %>">
            <p>メールアドレス</p>
            <input name="email" value="<%= @coach.email %>">
            <p>パスワード</p>
            <input type="password" name="password" value="<%= @coach.password %>">
            <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>